@using rizeMetroTurizmMvc.Models.Entity
@model List<city>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">

    <tr>
        <th>ŞEHİR PLAKA KODU</th>
        <th>ŞEHİR ADI</th>
        <th>GÜNCELLE</th>
        <th>SİL</th>
    </tr>
    <tbody>
        @foreach (var city in Model)
        {
        <tr>
            <td>@city.cityId</td>
            <td>@city.cityName</td>
            <td><a href="~/Views/City/Update/@city.cityId" class="btn btn-success">GÜNCELLE</a></td>
            <td><a href="~/Views/City/Delete/@city.cityId" class="btn btn-danger">SİL</a></td>
        </tr>
        }
    </tbody>
</table>
<a href="~/Views/City/AddCity" class="btn btn-primary">YENİ ŞEHİR EKLE</a>

