@using MvcProject.Models.Entity
@model List<customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/_MainLayout.cshtml";
}

<h2 class="text-center">MÜŞTERİLER</h2>

<table class="table table-bordered text-center">
    <tr>
        <th class="text-center">SIRA NO</th>
        <th class="text-center">MÜŞTERİ ADI</th>
        <th class="text-center">MÜŞTERİ SOYADI</th>
        <th class="text-center">GÜNCELLE</th>
        <th class="text-center">SİL</th>
    </tr>

    @foreach (var customer in Model)
    {
<tr>
    <th class="text-center">@customer.customerId</th>
    <th class="text-center">@customer.firstName</th>
    <th class="text-center">@customer.lastName</th>
    <th class="text-center"><a href="/Customer/customerList/@customer.customerId" class="btn btn-primary">GÜNCELLE</a></th>
    <th class="text-center"><a href="/Customer/Delete/@customer.customerId" class="btn btn-danger">SİL</a></th>

</tr>

    }
</table>
<a href="/Customer/AddCustomer" class="btn btn-primary">Yeni Müşteri Ekle</a>