@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Samsun/ATAKUM<br />
<br />
    <abbr title="Phone">Telefon Numarası:</abbr>
    0555 555 55 55
</address>

<address>
    <strong>Kişisel:</strong>   <a href="#">cahitcanozgen@gmail.com</a><br />
    <strong>İş:</strong> <a href="#">cahitcanozgen.dev@gmail.com</a>
</address>