
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Home/_MainLayout.cshtml";
}

<h2>Yeni Kategori Ekleme Sayfası</h2>

    <form class="form-group" method="post">
        <div>
            <label>KATEGORİ ADI</label>
            <input type="text" name="categoryName" class="form-control" />
        </div>
        <div style="margin-top:15px">
            <button class="btn btn-info">EKLE</button>
        </div>
        
    </form>

