@using rizeMetroTurizmMvc.Models.Entity
@model List<expedition>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">

    <tr>
        <th>SEFER ID</th>
        <th>SEFER NO</th>
        <th>KALKIŞ YERİ</th>
        <th>VARIŞ YERİ</th>
        <th>GÜNCELLE</th>
        <th>SİL</th>
    </tr>
    <tbody>
        @foreach (var expedition in Model)
        {
        <tr>
            <td>@expedition.expeditionId</td>
            <td>@expedition.expeditionNumber</td>
            <td>@expedition.depature</td>
            <td>@expedition.destination</td>
            <td><a href="~/Views/Expedition/Update/@expedition.expeditionId" class="btn btn-success">GÜNCELLE</a></td>
            <td><a href="~/Views/Expedition/Delete/@expedition.expeditionId" class="btn btn-danger">SİL</a></td>

        </tr>
        }
    </tbody>
</table>
<a href="~/Views/Expedition/AddExpedition/" class="btn btn-primary">YENİ SEFER EKLE</a>
